# Compiler-generated Binaries
*.o
*.obj
*.so
*.a
*.exe

# Visual Studio Files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.advixeproj
*.amplxeproj
*.sln
*.lastbuildstate

# Debug Files
*.log
*.tlog
*.ilk
*.pdb
*.idb

# Visual Studio Directories
/.vs/
"/My Advisor Results - svc/**"
"/My Amplifier XE Results - svc/**"