# Compiler-generated Binaries

*.o
*.obj
*.bin
*.a
*.lib
*.so
*.dll
*.exe


# Visual Studio Files

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.advixeproj
*.amplxeproj
*.sln
*.lastbuildstate


# Microsoft SDK MC/RC

*.mc
*.rc
*.res


# Debug Files

*.log
*.tlog
*.ilk
*.pdb
*.idb


# Visual Studio Directories

/.vs/
"/My Advisor Results - svc/**"
"/My Amplifier XE Results - svc/**"